<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

   <head></head>
    <body id="no-print" class="fixed-left " th:fragment="navbar" >

        <script type="text/javascript" th:inline="javascript">
            function TotalNotificacoes() {
                /*<![CDATA[*/

                var baseUrl = /*[[@{${@environment.getProperty('baseSetIntervalNotificao')}}]]*/ 'User Name';

                /*]]>*/


                //document.getElementById('audio').play();

                var totalClientes;
                $.ajax({
                    type: 'GET',
                    url: baseUrl+"/sistema/hellohi/api/pedidos/notificacoes",
                    success: function (total) {
                        if (total === 0) {
                            $("#totalNotificacoes").html(total);
                            return;

                        } else {

                            $.ajax({
                                type: 'GET',
                                url: baseUrl+"/sistema/hellohi/api/notificacao/view" ,
                                success: function (clientes) {
                                    $("#totalNotificacoes").html(total);
                                    $("#clientesNotificacao").html(clientes);
                                },
                                error: function () {
                                    console.log(error);
                                }
                            });
                        }
                    },
                    error: function () {
                        console.log("Erro Verificar Notificações " + error);
                    }

                });
            }
        </script>

        <!-- Top Bar Start -->
        <div class="topbar no-print">
            <!-- LOGO -->
            <div class="topbar-left">

               
                <div class="text-center">
                    <i><img th:src="@{/images/logo/logo_armorCred.png}" id="logoNavbar" alt=""/></i>
                </div>

            </div>
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div>
                        <div class="pull-left">
                            <button class="button-menu-mobile open-left spanColorNavbar "><i class=" spanColorNavbar fa fa-bars"></i></button>
                            <span  class="  spanColorNavbar" id="timer"></span>
               

                        </div>

                       <th:block th:include="navbar/navbarNotificacao :: navbarNotificacao"></th:block>

                    </div>
                    <!--/.nav-collapse -->
                </div>

            </div>
        </div>
        <!-- Top Bar End -->





    </body>
</html>
