<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head >
        <th:block th:include="fragments/scripts :: header"></th:block>
        <link href="../../static/assets/datatables/jquery.dataTables.min.css" th:href="@{/assets/datatables/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>

    </head>

    <body class="fixed-left"  >
        <div id="wrapper">       
            <!--Navbar-->
            <th:block th:include="navbar/navbar :: navbar"></th:block>
            <!--Menu-->
            <th:block th:include="menu/menu :: menu"></th:block>             
            <!--Conteúdo Página-->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="container-fluid text-center"><!-- container para usar o grid -->
                                    <div class="col-sm-12 text-left">
                                        <!--Painel da parte para o formulario-->
                                        <div class="panel panel-primary">
                                            <!--Legenda do Painel-->
                                            <div class="panel-heading">Cliente</div>

                                            <!--Corpo do Painel-->
                                            <div class="panel-body" >
                                                <div class="col-sm-12 form-group-sm  " >

                                                    <!--LISTAGEM DE TODOS OS Clientes-->
                                                    <div class="table-responsive">

                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Cod</th>
                                                                    <th>Razão Social</th>
                                                                    <th>Nome Fantasia</th>
                                                                    <th>Representante Comercial</th>                                            
                                                                    <th>Cnpj</th>
                                                                    <th>Responsável</th>
                                                                    <th>Email</th>
                                                                    <th>Telefone</th>
                                                                    <th>Celular</th>
                                                                    <th>Cep</th>
                                                                    <th>Cidade</th>
                                                                    <th>Bairro</th>                                            
                                                                    <th>Rua</th>
                                                                    <th>Nº Endereço</th>
                                                                    <th>Complemento</th>
                                                                    <th>Senha</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="myTable">
                                                                <!--fazer busca no banco de dados dos Alunos Cadastrados,THYMELEAF-->
                                                                <!--para cada aluno adiciona na tela icone, nome,sobrenome,data,email-->
                                                                <tr th:each=" cliente : ${cliente}">
                                                                    <td> <div class="radio">
                                                                            <label><input type="radio" id='radio' name="optradio"/></label>
                                                                        </div></td>
                                                                    <td><span th:text="${cliente.codigoInternoCliente}"></span></td>
                                                                    <td><span th:text="${cliente.razaoSocial}"></span></td>
                                                                    <td><span th:text="${cliente.nomeFantasia}"></span></td>
                                                                    <td><span th:text="${cliente.representante.nome}"></span></td>
                                                                    <td><span th:text="${cliente.cnpj}"></span></td>
                                                                    <td><span th:text="${cliente.responsavel}"></span></td>
                                                                    <td><span th:text="${cliente.email}"></span></td>
                                                                    <td><span th:text="${cliente.telefone}"></span></td>
                                                                    <td><span th:text="${cliente.celular}"></span></td>
                                                                    <td><span th:text="${cliente.cep}"></span></td>
                                                                    <td><span th:text="${cliente.cidade}"></span></td>
                                                                    <td><span th:text="${cliente.bairro}"></span></td>
                                                                    <td><span th:text="${cliente.logradouro}"></span></td>
                                                                    <td><span th:text="${cliente.numeroEnd}"></span></td>
                                                                    <td><span th:text="${cliente.complemento}"></span></td>
                                                                    <td><span th:text="${cliente.senha}"></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div >
                                                            <button id="btnSalvar" class="btn btn-success" onclick="href = '#'"  data-toggle="modal" data-target="#myModal">Novo</button>
                                                            <button class="btn btn-info">Editar</button> 
                                                            <button class="btn btn-danger" onclick="href = '#'">Excluir </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modal -->
                                        <div class="container-fluid">
                                            <div class="modal fade" id="myModal" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <!--Painel da parte para o formulario-->
                                                            <div class="panel panel-primary">
                                                                <!--Legenda do Painel-->
                                                                <div class="panel-heading"><h4>Cadastro Usuário do Sistema</h4></div>
                                                                <!--Corpo do Painel-->


                                                                <div class="row">
                                                                    <div class=" col-sm-12">
                                                                        <div class="card-body ">
                                                                            <div class="col-sm-12">
                                                                                <!--                                                        <h2>Carregar o codigo da empresa para vincular com o Usuário</h2>-->
                                                                                <!--Formulario-->
                                                                                <form>
                                                                                    <div class="container-fluid">
                                                                                        <div class="form-group">
                                                                                            <div class="form-group">
                                                                                                <div class="form-row">
                                                                                                    <div class="col-sm-12">
                                                                                                        <label><b>Nome</b></label>
                                                                                                        <input class="form-control" type="text" name="nome"/>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <div class="form-row">                                                                    
                                                                                                <div class="col-sm-6">
                                                                                                    <label><b>Cpf</b></label>
                                                                                                    <input class="form-control" type="text" name="cpf"/>
                                                                                                </div>
                                                                                                <div class="col-sm-6">
                                                                                                    <label><b>Nível</b></label>
                                                                                                    <input class="form-control" type="text" name ="nome"/>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="form-group">
                                                                                            <div class="form-row">
                                                                                                <div class="col-sm-6">
                                                                                                    <label><b>Login</b></label>
                                                                                                    <input class="form-control" type="text" name="login"/>
                                                                                                </div>
                                                                                                <div class="col-sm-6">
                                                                                                    <label><b>Senha</b></label>
                                                                                                    <input class="form-control" type="text" name="senha"/>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="btn  ">
                                                                                        <div class="col-sm-12">
                                                                                            <button type="Submit" class=" btn btn-primary ">Enviar</button>
                                                                                            <button  class=" btn btn-danger" type="reset">Limpar</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                            
                    </div> <!-- container -->
                </div> 
            </div><!-- Conteúdo Página -->
        </div> <!--Navbar-->

        <!--Script-->
        <th:block th:include="fragments/header :: scripts"></th:block>

    </body>
</html>