<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


    <head th:include="fragments/scripts :: header" ></head>

    <body >

        <div class="container">
            
            <nav class="navbar navbar-inverse" >    

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="/home">Home</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right" >
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </nav>
            <div id='cssmenu' class="container">
                <ul>
                    <li><a href='#'>Home</a></li>
                    <li class='active'><a href='#' onclick="openPage('usuario', 'GET')">Usuário</a></li>
                    <li><a href='#' onclick="openPage('representante', 'GET')">Representante Comercial</a></li>
                    <li><a href='#' onclick="openPage('cliente', 'GET')">Clientes</a></li>
                </ul>
            </div>

            <div id="model" class="panel panel-body">


                <div class="container">
                    <div class="text-center">

                        <h1>Thymeleaf Layouts</h1>

                        <div class="lead" th:insert="http://www.thymeleaf.org :: section.description">
                            Welcome to the Spring MVC Quickstart application!
                            Get started quickly by signing up.
                        </div>

                        <p>
                            <a id="signup" class="btn btn-success btn-lg">Sign up</a>
                        </p>
                    </div>
                    <div th:insert="~{fragments/footer :: foote}">&copy; 2017 The Static Templates</div>
                </div>
                <script th:inline="javascript" type="text/javascript">
                    /* Fill in modal with content loaded with Ajax */
                    $(document).ready(function () {
                        $('#signup').on('click', function (e) {
                            $("#myModal").modal();
                            $("#myModalBody").text("");
                            $.ajax({
                                url: "signup",
                                cache: false
                            }).done(function (html) {
                                $("#myModalBody").append(html);
                            });
                        })
                    });
                </script>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Signup</h4>
                            </div>
                            <div class="modal-body" id="myModalBody">Lorem ipsum</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->



                
            </div>
        </div>     






    </body>

</html>