<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:fragment="mapa" >

    <head>
        <style >
            #mapCanvas {
                width: 100%;        
                height: 100%;
            }
        </style>
        <script th:type="${type='text/javascript'}"  th:inline="javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuC0oHTI_mwfwW2HBiClpEuvSUKO7R8mg&amp;sensor=false"></script>
        <script th:inline="javascript">
            var geocoder = new google.maps.Geocoder();
            function geocodePosition(pos) {
                geocoder.geocode({
                    latLng: pos
                }, function (responses) {
                    if (responses.length > 0) {
                        updateMarkerAddress(responses[0].formatted_address);
                    } else {
                        updateMarkerAddress('Cannot determine address at this location.');
                    }
                });
            }

            function updateMarkerStatus(str) {
                document.getElementById('markerStatus').innerHTML = str;
            }

            function updateMarkerPosition(latLng) {
                document.getElementById('info').innerHTML = [
                    latLng.lat(),
                    latLng.lng()
                ].join(', ');
            }

            function updateMarkerAddress(str) {
                document.getElementById('address').innerHTML = str;
            }

            function initialize() {
                /*<![CDATA[*/
                var idMap = /*[[${checkinMapa.idCheckin}]]*/  null;
                var latitude = /*[[${checkinMapa.latitude}]]*/ null;
                var longitude = /*[[${checkinMapa.longitude}]]*/ null;
                /*]]>*/
                var latLng = new google.maps.LatLng(latitude, longitude);
                var map = new google.maps.Map(document.getElementById('mapCanvas'), {
                    zoom: 16,
                    center: latLng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                var marker = new google.maps.Marker({
                    position: latLng,
                    title: 'Point A',
                    map: map,
                    draggable: true
                });

                // Update current position info.

                updateMarkerPosition(latLng);
                geocodePosition(latLng);

                // Add dragging event listeners.

                google.maps.event.addListener(marker, 'dragstart', function () {
                    updateMarkerAddress('Dragging...');
                });

                google.maps.event.addListener(marker, 'drag', function () {
                    updateMarkerStatus('Dragging...');
                    updateMarkerPosition(marker.getPosition());
                });

                google.maps.event.addListener(marker, 'dragend', function () {
                    updateMarkerStatus('Drag ended');
                    geocodePosition(marker.getPosition());
                });
            }

            // Onload handler to fire off the app.

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>


    </head>
    <body>
        <div class="alert alert-link" role="alert">
            <button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"> 
                            <h3 class="panel-title">Endereco   ( <span th:text="${checkinMapa.enderecoCompleto }"> </span>)</h3> 
                        </div> 
                        <div class="panel-body"> 

                            <div id="gmaps-basic" class="gmaps" >
                                <div id="mapCanvas"></div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>