<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

    <head th:fragment="header">
        
         
        <meta charset="utf-8"/>
        <meta name ="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>HelloHi</title>
        <meta name="author" content="HelloHi System"/>
        
        

        <link href="../../static/assets/datatables/jquery.dataTables.min.css" th:href="@{/assets/datatables/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>

        <link rel="shortcut icon" href="images/favicon_1.ico"/>      

        <!--Base Css Files--> 
        <link href="../../static/css/jr-style.css" rel="stylesheet" th:href="@{/css/jr-style.css  }"/>
        <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css  }"/>

        <!--Font Icons--> 
        <link href="../../static/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" th:href="@{/assets/font-awesome/css/font-awesome.min.css}"/>
        <link href="../../static/assets/ionicon/css/ionicons.min.css" rel="stylesheet" th:href="@{/assets/ionicon/css/ionicons.min.css}"/>
        <link href="../../static/css/material-design-iconic-font.min.css" rel="stylesheet" th:href="@{/css/material-design-iconic-font.min.css}"/>

        <!--animate css--> 
        <!--<link href="../../static/css/animate.css" rel="stylesheet"  th:href="@{/css/animate.css}"/>-->

        <!--Waves-effect--> 
        <!--<link href="../../static/css/waves-effect.css" rel="stylesheet" th:href="@{/css/waves-effect.css}"/>-->

        <!--Custom Files--> 
        <link href="../../static/css/helper.css" rel="stylesheet" type="text/css"  th:href="@{/css/helper.css}"/>
        <link href="../../static/css/style.css" rel="stylesheet" type="text/css"  th:href="@{/css/style.css}"/>


        <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries--> 
        <!--WARNING: Respond.js doesn't work if you view the page via file://--> 
        <!--[if lt IE 9]>-->
        <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
        <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>-->
        <!--<![endif]-->

        <script src="../../static/js/modernizr.min.js" th:src="@{/js/modernizr.min.js}"></script>
        
    </head>

    <body th:fragment="scripts">




        <!-- jQuery  -->
        
        
        <script th:src="@{/js/jquery.min.js}"></script>
        <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" ></script>
        <script src="../../static/js/waves.js" th:src="@{/js/waves.js}" ></script>
        <script src="../../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
        <script src="../../static/js/jquery.nicescroll.js" type="text/javascript" th:src="@{/js/jquery.nicescroll.js}"></script>
        <script src="../../static/js/jquery.scrollTo.min.js" th:src="@{/js/jquery.scrollTo.min.js}"></script>
        <script src="../../static/assets/jquery-detectmobile/detect.js" th:src="@{/assets/jquery-detectmobile/detect.js}"></script>
        <script src="../../static/assets/fastclick/fastclick.js" th:src="@{/assets/fastclick/fastclick.js}"></script>
        <script src="../../static/assets/jquery-slimscroll/jquery.slimscroll.js" th:src="@{/assets/jquery-slimscroll/jquery.slimscroll.js}"></script>
        <script src="../../static/assets/jquery-blockui/jquery.blockUI.js" th:src="@{/assets/jquery-blockui/jquery.blockUI.js}"></script>

        <!-- CUSTOM JS -->
        <script src="../../static/js/jr-script-hellohi.js" th:src="@{/js/jr-script-hellohi.js}"></script>
        <script src="../../static/js/jquery.app.js" th:src="@{/js/jquery.app.js}"></script>
        <script src="../../static/assets/bootstrap-inputmask/bootstrap-inputmask.min.js " th:src="@{/assets/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>

    </body>
</html>