<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head th:include="fragments/scripts :: header"></head>
    
    <body class="fixed-left"  >
        <div id="wrapper">       
            <!--Navbar-->
            <div th:include="navbar/navbar :: navbar"></div>
            <!--Menu-->
            <th:block th:include="menu/menu :: menu"></th:block> 
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->                   
                       
            
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== --> 
        </div> <!--Navbar-->


        <th:block th:include="fragments/scripts :: scripts"></th:block> 
    </body>
</html>